html, body {
   margin:0;
   padding:0;
   font-family: Helvetica, Arial, sans-serif;
   background: #555;
   color: #eee;
}

html {
   font-size: 2em;
}
.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

    width: 900px;
    padding: 30px;
}

.step:not(.active) {
    opacity: 0.05;
}

pre.code {
   text-align:left;
   background: #444;
   color: #ccc;
   padding:1em;
   padding-bottom:0.1em;
}

.error {
   color: #c55;
}
